@page
@model RegisterModel
@inject AuthLocalizationService AuthLocalizer
@{
    Layout = "/Views/Shared/_AdminLTE.cshtml";
}

@{
    //ViewData["Title"] = "Register";
    var roles = (List<IdentityRole>)ViewData["roles"];
}

@{
    ViewData["Title"] = "Register";
}

<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            @*<h1>@ViewData["Title"]</h1>*@
            <h2>@AuthLocalizer.GetLocalizedHtmlString("CREATE_A_NEW_ACCOUNT")</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="Input.Email">@AuthLocalizer.GetLocalizedHtmlString("EMAIL") (@AuthLocalizer.GetLocalizedHtmlString("LOGIN_USE"))</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Input.LastName">@AuthLocalizer.GetLocalizedHtmlString("SURNAME")</label>
                        <input asp-for="Input.LastName" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Input.FirstName">@AuthLocalizer.GetLocalizedHtmlString("GIVEN_NAME")</label>
                        <input asp-for="Input.FirstName" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.UserPost">@AuthLocalizer.GetLocalizedHtmlString("USER_POST")</label>
                <input asp-for="Input.UserPost" class="form-control" />
                <span asp-validation-for="Input.UserPost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber">@AuthLocalizer.GetLocalizedHtmlString("PHONE_NUMBER")</label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.RoleName">@AuthLocalizer.GetLocalizedHtmlString("ROLE")</label>
                <select asp-for="Input.RoleName" class="form-control" asp-items='new SelectList(roles,"Id","Name")'>
                </select>
                <span asp-validation-for="Input.RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">@AuthLocalizer.GetLocalizedHtmlString("PASSWORD")</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">@AuthLocalizer.GetLocalizedHtmlString("CONFIRM_PASSWORD")</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">@AuthLocalizer.GetLocalizedHtmlString("REGISTER")</button>
            </div>
        </form>
    </div>
    @*<div class="col-md-6 col-md-offset-2">
        <section>
        <h3>Use another service to register.</h3>
        <hr />
        @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
        <div>
        <p>
        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
        about setting up this ASP.NET application to support logging in via external services</a>.
        </p>
        </div>
        }
        else
        {
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
        <div>
        <p>
        @foreach (var provider in Model.ExternalLogins)
        {
        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
        }
        </p>
        </div>
        </form>
        }
        }
        </section>
        </div>*@
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
